<div class="nav navbar navbar-static-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#">
                <img src="../static/images/go_icon.png"></img>
            </a>
            <span class="brand-text">GO IDEA</span>
        </div>
        <div class="navbar-class callapse navbar-right">
            <ul class="nav navbar-nav" ng-controller="Navbar">
                <div ng-switch on="isLogged">
                    <div ng-switch-when="true">
                        <div ng-include="loggedTemplateUri">
                        </div>
                    </div>
                    <div ng-switch-when="false">
                        <div ng-include="notLoggedTemplateUri">
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<a ui-sref="default.list">List of ideas</a>
<div>
    <div ui-view>
    </div>
</div>