<div ng-controller="Details" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img ng-src="static/images/noImagesYet.png" class="img-rounded details-small-image"/>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h1>{{ idea.Title }}</h1>
            <p>by {{ idea.Creator }}</p>
            <h3>{{ idea.Assignees.length }}</h3><p>Assigned</p>
            <h3>{{ idea.MinAssignes }}</h3><p>Min assigned</p>
            <h3>{{ idea.Voters.length }}</h3><p>Votes</p>
            <!-- <h3>{{ idea.comments.length }}</h3><p>Comments</p> -->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <a ui-sref="default.edit({id: idea.id})">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Edit</button>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img ng-repeat="photo in idea.Attachments" ng-src="static/images/{{ photo }}" class="img-rounded details-small-image"/>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <span> {{ idea.Description }}</span>
            <div class="comments-container">
                <h3>Comments</h3>
                <idea-comment ng-repeat="comment in comments" comment="comment"/>
            </div>
        </div>
    </div>
</div>