<div ng-controller="edit" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <form role="form">
        <input hidden ng-model="idea.Id">
        <div class="form-group-lg">
            <label for="title">Title</label>
            <input id="title" placeholder="" class="form-control" ng-model="idea.Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" placeholder="" class="form-control msd-elastic" ng-model="idea.Description">
            </textarea>
        </div>
        <div class="form-group">
            <label for="proposedDate">Proposed date</label>
            <input id="proposedDate" placeholder="" class="form-control" ng-model="idea.EventData">
        </div>
        <div class="form-group">
            <label for="Icon">Icon</label>
            <input id="Icon" placeholder="" class="form-control" ng-model="idea.Icon">
        </div>
        <div class="form-group">
            <label for="minAssignees">Minimum assignees</label>
            <input id="minAssignees" placeholder="" class="form-control" ng-model="idea.MinAssignees">
        </div>
        <div class="form-group">
            <span><b>Creator: </b></span><span>{{idea.Creator.Fullname}}</span>
            <span><b>Status: </b></span><span>{{idea.Status}}</span>
            <span><b>Votes: </b></span><span>{{idea.Votes.length}}</span>
            <span><b>Creation Date: </b></span><span>{{idea.CreationDate}}</span>
        </div>

        <div class="buttons buttons-update" ng-hide="!isSaved()">
            <button class="btn btn-primary" ng-click="update(idea)">Save</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="buttons buttons-insert" ng-hide="isSaved()">
            <button class="btn btn-success" ng-click="update(idea)">Create</button>
        </div>
        <!--add idea.comments -->
        <!--add idea.attachments -->
        <!--add idea.votes-->
        <!--add idea.assignees -->
        <!--add status control -->
    </form>
    <hr/>
</div>


