<!-- partials/state1.html -->
<div class="btn-group">
  <button class="btn btn-success" ui-sref="default.new">Create</button>
</div>
<div class="row container-fluid" ng-controller="IdeasList">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
    <single-idea ng-repeat="idea in ideas" idea="idea" user="user"/>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-controller="Calendar">
        <div class="goidea-calendar">
            <div>
              <div class="btn-group">
                <button class="btn btn-success" ng-click="changeView('basicDay', myCalendar)">Day</button>
                <button class="btn btn-success" ng-click="changeView('basicWeek', myCalendar)">Week</button>
                <button class="btn btn-success" ng-click="changeView('month', myCalendar)">Month</button>
              </div>
              <div class="btn-group btn-group-right">
                <button class="btn btn-default" ng-click="show('today', myCalendar)">Today</button>
                <button class="btn btn-default" ng-click="show('prev', myCalendar)"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-default" ng-click="show('next', myCalendar)"><i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
    </div>
</div>
