<ul class='nav navbar-nav navbar-right'>
    <li class="dropdown">
        <a class="dropdown-toggle" href='#' data-toggle='dropdown'>
            Login
        </a>
        <ul class="dropdown-menu" role='menu'>
            <li>
                <p class="text-danger" ng-hide="!loginError">Wrong password or username</p>
                <p class="text-success" ng-hide="!loginSuccess">User logged in!</p>
                <form name="loginForm"
                      ng-submit="logIn(credentials)" novalidate>
                    <label for="username">Username:</label>
                    <input type="text" id="username"
                           ng-model="credentials.username" ng-disabled="disabled">

                    <label for="password">Password:</label>
                    <input type="password" id="password"
                           ng-model="credentials.password" ng-disabled="disabled">

                    <button type="submit" ng-disabled="disabled">Login</button>
                </form>
            </li>
        </ul>
    </li>
</ul>