<ul class='nav navbar-nav navbar-right'>
    <li class="dropdown">
        <a class="dropdown-toggle" href='#' data-toggle='dropdown'>
            Login
        </a>
        <ul class="dropdown-menu" role='menu'>
            <li>
                <form name="loginForm" ng-controller="Login"
                      ng-submit="login(credentials)" novalidate>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username"
                               ng-model="credentials.username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password"
                               ng-model="credentials.password">
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>